<script type="text/javascript">
  $(document).ready(function(){
    $('#contact').addClass('active');
  });
</script>
<div>
<h2>Questions?</h2>
<p>
  Email: kevinbird15@gmail.com</br>
  Phone #: 308-730-2680
</p>
</div>
