<div>
  <ul class="nav nav-tabs">
    <li role="presentation">Home</li>
    <li role="presentation">About</li>
    <li role="presentation">Contact Us</li>
  </ul>
  <div class="square">
  </div>
</div>
