<div>
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">About</a></li>
    <li role="presentation"><a href="#">Contact Us</a></li>
  </ul>
  <div class="square">
  </div>
</div>
