<div class="row">
<div class="col-md-6 col-md-offset-2" id="actions">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary btn-lg customize_btn" href="#" role="button">New Product</a>
      <a class="btn btn-primary btn-lg customize_btn" href="#" role="button">New Pallet Sheet</a>
      <a class="btn btn-primary btn-lg customize_btn" href="#" role="button">Edit Pallet Sheet</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary btn-lg customize_btn" href="#" role="button">New Transaction</a>
      <a class="btn btn-primary btn-lg customize_btn" href="#" role="button">New Treatment Sheet</a>
      <a class="btn btn-primary btn-lg customize_btn" href="#" role="button">Edit Treatment Sheet</a>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-4" id="test2">
    And this one's here
  </div>
</div>
